In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 31.4 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 37.9 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [2]:
import pandas as pd
import mysql.connector

In [3]:
# Extract: leer datos de una URL
url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv'
df = pd.read_csv(url)

In [4]:
# Transform: realizar algunas operaciones de procesamiento de datos
df['promedio'] = (df[' "1958"'] + df[' "1959"'] + df[' "1960"']) / 3

df = df[df[' "1960"'] > 450]
df = df.dropna()
df = df.rename(columns={' "1958"': 'año 1958', ' "1959"': 'año 1959', ' "1960"': 'año 1960'})
df = df.rename(columns={'Month': 'Mes'})

In [5]:
# Load: establecer conexión con MySQL y cargar los datos en una tabla
conexion = mysql.connector.connect(user='ukq4njegozl8dlkx', password='FhEHCRAwAEzqfzp66njg', host= 'b7au8y7g2g0w7tcvgtut-mysql.services.clever-cloud.com', database='b7au8y7g2g0w7tcvgtut', port= '3306')

In [6]:
# Suponiendo que ya tienes una tabla llamada 'airtravel' creada en tu base de datos
nombre_tabla = 'meses_año'

In [7]:
# Insertar registros del DataFrame en MySQL
with conexion.cursor() as cursor:
    # Crear la tabla si no existe
    crear_tabla_query = '''
    CREATE TABLE IF NOT EXISTS {} (
        Mes VARCHAR(10),
        `1958` INT,
        `1959` INT,
        `1960` INT,
        promedio FLOAT
    );
    '''.format(nombre_tabla)
    cursor.execute(crear_tabla_query)

In [8]:
# Insertar los datos en la tabla
for _, row in df.iterrows():
    insertar_query = '''
    INSERT INTO {} (Mes, `1958`, `1959`, `1960`, promedio)
    VALUES ('{}', {}, {}, {}, {});
    '''.format(nombre_tabla, row['Mes'], row['año 1958'], row['año 1959'], row['año 1960'], row['promedio'])
    with conexion.cursor() as cursor:
        cursor.execute(insertar_query)
    conexion.commit()

In [10]:
# Confirmar los cambios en la base de datos
    conexion.commit()

IndentationError: ignored

In [ ]:
# Cerrar la conexión
connection.close()